<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grade3</title>
    <link rel="stylesheet" href="../css/dumbledore.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/var.css">
    <link rel="stylesheet" href="../css/main.css" >
    <link rel="stylesheet" href="../css/todolist.css">
</head>
<body>
   <div class="backImg"> 
     <header class="header">
       
       <div class="header__weather">
            <span class="location"></span>
            <span class="temp-weather"></span>
       </div>  
       <div class="header__title ">
           <img src="../img/gryffin.jpg" class="header__title__img ">
           <a href="index.html">
           <h1>Gryffindor</h1>
           </a>
       </div>
       <div class="header__time">
        <span>12:12:12</span>
       </div>
       
     </header>
     <main>
        <div class="main-box">
            <div class="main-box__coursebook">
                <div class="main-box__coursebook__li">
                  <h2>THE TRIWIZARD TOURNAMENT</h2>    
                  <ul class="main-box__coursebook__li__ul">
                    <li>The First Task -</li>
                    <li class="btn">Collect the golden egg!</li>
                    <li>The Second Task -</li>
                    <li class="btn">Rescue a hostage who live in the lake!</li>
                    <li>The Third Task -</li>
                    <li class="btn">A maze of high hedgeds on the quidditch pitch!</li>
                   
                  </ul>
                </div>
            </div>
            <div class="main-box__other2">
                <h2>The Participants</h2>    
                <p class="btn">Harry Potter</p>
                <p class="btn">Cedric Diggory</p>
                <P class="btn">Viktor Krum</P>
                <p class="btn">Fleur Delacour</p>
            </div>
            <div id="js-todo" class="main-box__todo1">
                <form id="js-todoForm"class="todoform">
                    <input id="js-todoInput"type="text" placeholder="HOMEWORK" class="todoform__input">

                </form>
                <ul id="js-todoList" class="todoform__ul"></ul>
            </div>
        </div>
        
     </main>
     <div class="footer3">
       
         <h1>THE QUIDDITCH WORLD CUP</h1> 
         

     </div>
   </div>
   
   

   <script src="../js/weather.js"></script>
   <script src="js/time.js"></script>
   <script src="js/todo.js"></script>
   <script
   src="https://kit.fontawesome.com/6478f529f2.js"
   crossorigin="anonymous"
   ></script>
</body>
</html>